<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avlweb.collectionviewer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.Home"
            android:exported="true"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainList"
            android:label="@string/title_activity_main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Home" />
        </activity>
        <activity
            android:name=".ui.ItemDisplay"
            android:label="@string/title_activity_display_item">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainList" />
        </activity>
        <activity
            android:name=".ui.ItemModify"
            android:label="@string/title_activity_modify_item"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainList" />
        </activity>
        <activity
            android:name=".ui.SearchInCollection"
            android:label="@string/title_activity_search"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainList" />
        </activity>
        <activity
            android:name=".ui.Settings"
            android:label="@string/title_activity_settings"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Home" />
        </activity>
        <activity
            android:name=".ui.CollectionDetails"
            android:label="@string/title_activity_collection_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainList" />
        </activity>
        <activity
            android:name=".ui.CollectionModify"
            android:label="@string/title_activity_collection_modify"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Home" />
        </activity>
        <activity
            android:name=".ui.Help"
            android:label="@string/help">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Home" />
        </activity>
    </application>

</manifest>